<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="picasa.username" value="username@gmail.com"/>
		<add key="picasa.password" value="myPassword"/>
		<add key="folder.excludeNames" value="$RECYCLE.BIN,Originals,.Picasa3Temp,Picasa,.picasaoriginals,private,Private,exclude"/>
		<add key="folder.exclude.hintFileName" value="picasawebsync.exclude"/>
		<add key="file.includeExtensions" value="jpg,JPG,jpeg,JPEG,avi,AVI,wmv,WMV,mov,MOV,mp4,MP4"/>
		<add key="file.excludeWhenFileNameContains" value="webexclude"/>
		<add key="file.excludeWhenSizeLargerThan" value="209715200"/> <!-- 200MB Limit -->
		<add key="album.nameFormat" value="{0}"/>
		<add key="album.includeTopDirectoryName" value="false"/>
		<add key="album.access.default" value="private"/>
		<add key="album.privateAccess.hintFileName" value="picasawebsync.private"/>
		<add key="album.publicAccess.hintFileName" value="picasawebsync.public"/>
		<add key="album.privateAccess.folderNames" value=""/>
		<add key="photo.resize" value="true"/>
		<add key="photo.resize.maxSize" value="800"/>
		<add key="video.resize" value="false"/>
		<add key="video.resize.command" value="ffmpeg -i {0} -b:v 1200k -r 30 -acodec aac -strict experimental -absf aac_adtstoasc {1}"/> <!--works with ffmpeg .10-->
	</appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>